ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_URLS=http://+:8080

APPSETTINGS__TOKEN=REEMPLAZA_CON_TOKEN_SEGURO


MERCADOPAGO_ACCESS_TOKEN=REEMPLAZA_CON_TU_ACCESS_TOKEN
MERCADOPAGO_WEBHOOK_SECRET=REEMPLAZA_CON_TU_WEBHOOK_SECRET

SENDGRID_API_KEY=REEMPLAZA_CON_TU_API_KEY
SENDGRID_FROM_EMAIL=abrahan.1194@gmail.com
SENDGRID_FROM_NAME=ApexDB

APP_DASHBOARD_URL=https://andromeda.andrescortes.dev/dashboard

DEFAULT_CONNECTION=Server=TU_SERVIDOR;Port=5432;Database=ccd_dev_db;User Id=root;Password=TU_PASSWORD
ADMIN_POSTGRES_CONNECTION=Host=TU_SERVIDOR;Port=5432;Database=postgres;Username=root;Password=TU_PASSWORD
ADMIN_MYSQL_CONNECTION=Server=TU_SERVIDOR;Port=3306;Database=mysql;User Id=root;Password=TU_PASSWORD
ADMIN_SQLSERVER_CONNECTION=Server=TU_SERVIDOR,1433;Database=master;User Id=sa;Password=TU_PASSWORD;TrustServerCertificate=True