# ## Archivos y carpetas generados por IDEs (Rider, Visual Studio) ##
.idea/
vs/

# ## Carpetas de compilación de .NET ##
[Bb]in/
[Oo]bj/

# ## Archivos de configuración de usuario ##
*.suo
*.user

# ## Archivos de publicación ##
[Pp]ublish/
[Rr]elease/

# ## Archivos de log y temporales ##
*.log

# ## ¡SECRETS! ##
appsettings.json
appsettings.*.json
!appsettings.Development.json.example

# Variables de entorno
.env
*.env

# Archivos de configuración local
local.settings.json
secrets.json